[2021-02-16 03:45] billythakidd04 opened #1 "Spelling error on README"
README file has a spelling error on company

[2021-02-16 16:57] #1 closed

[2021-02-16 16:57] eiman-kased commented on #1
Thanks!

[2021-02-17 22:22] billythakidd04 opened #3 "File names are a mess"
keep file names simple

- index
- menu
- contact
- apply
etc

Also all files should have the same extention. ie php

[2021-02-17 22:24] billythakidd04 opened #4 "Menu display needs some work"
Discuss among yourselves as to the best way to improve the menu look and feel then do it. Either comment on this ticket with to new plan or change the description completely to reflect the plan.

[2021-02-17 22:25] billythakidd04 opened #5 "Make menu stick to top of page"
Create a nav menu that is always fixed at the top of the page

[2021-02-17 22:29] billythakidd04 opened #6 "Fix formatting of inline php"
https://github.com/eiman-kased/starbulls/blob/138a4d5c9482c26d9ca26177cd02bdbd11884551/starbull.php#L138
https://github.com/eiman-kased/starbulls/blob/138a4d5c9482c26d9ca26177cd02bdbd11884551/starbull.php#L150
https://github.com/eiman-kased/starbulls/blob/138a4d5c9482c26d9ca26177cd02bdbd11884551/starbull.php#L158
https://github.com/eiman-kased/starbulls/blob/138a4d5c9482c26d9ca26177cd02bdbd1188455

[2021-02-17 22:32] billythakidd04 opened #7 "Missing files or code?"
When I show your page locally I am not seeing the css that you showed in class:

starbulls/mainPage.html
![image](https://user-images.githubusercontent.com/888231/108276669-2bb71400-7146-11eb-86bd-0bf0285df7aa.png)

[2021-02-17 22:34] eiman-kased commented on #3
Updated them all now to .php and  menu, about, etc.

[2021-02-17 22:36] eiman-kased commented on #7
I wonder if that has the wrong css file linked to it.

[2021-02-17 22:46] eiman-kased commented on #7
I just pushed the new file names with the correct css files linked. It should all look good now.

[2021-02-17 22:58] #7 closed

[2021-02-18 00:05] billythakidd04 opened #9 "Header is slightly off center"
![image](https://user-images.githubusercontent.com/888231/108284343-067cd280-7153-11eb-840d-cd70b3d59c80.png)
 to my eye that red line is center but its definitely off to the right a bit

[2021-02-18 00:07] billythakidd04 opened #10 "tag is showing up wrong on apply page"
![image](https://user-images.githubusercontent.com/888231/108284496-552a6c80-7153-11eb-839e-112844c72aa0.png)
that required tag should not show

[2021-02-18 00:10] billythakidd04 opened #11 "Unknown format for phone"
![image](https://user-images.githubusercontent.com/888231/108284716-bfdba800-7153-11eb-9fef-cbade7e28080.png)
the error is good but idk what the expected format _is_

[2021-02-18 00:11] eiman-kased commented on #10
Should have created a branch for this ticket, but forgot. Found the error, and made the change. Pushed it up to Main.

[2021-02-18 00:11] #10 closed

[2021-02-18 00:13] eiman-kased commented on #11
Format should be in the placeholder.

[2021-02-18 02:51] billythakidd04 commented on #10
closed by 76430aef0398ab989cd1df47ab5e775120f6fd6f

[2021-02-19 01:49] billythakidd04 commented on #11
I understand but if you look at the screen shot, once a user starts typing they can't see the placeholder.I recommend adding a tooltip or possibly adding it to the label.

[2021-02-19 01:50] billythakidd04 commented on #3
I'm not sure what you mean. Is there a commit that fixed this?

[2021-02-19 04:45] eiman-kased commented on #3
Yes, I committed and pushed it up to the main. This was before I had completely understood how PR works. I don't even think I was working off of a branch when I fixed the file names/extensions.

[2021-02-19 04:47] eiman-kased commented on #11
Ah okay. I see what you're saying.

[2021-02-20 16:26] eiman-kased commented on #11
Pull request #12 took care of this one. I added the phone format as part of the label.

[2021-02-20 16:26] #11 closed

[2021-02-21 22:24] eiman-kased commented on #6
Fixed with another ticket/branch which has been approved and merged.

[2021-02-21 22:24] #6 closed

[2021-02-22 20:52] #3 closed

[2021-02-22 23:46] billythakidd04 commented on #6
which one?

[2021-02-23 00:03] billythakidd04 commented on #3
@eiman-kased please see if you can find and attach the commit hash to this ticket

[2021-02-23 04:00] eiman-kased commented on #3
I believe I found it:
commit 149381453f312b693fcd4ce40004e0abf5d68693

[2021-02-23 04:01] eiman-kased commented on #6
With ticket #13.

[2021-03-01 18:38] billythakidd04 commented on #9
@CharleswithLove where are we with this? Any luck?

[2021-03-03 23:20] ghost commented on #5
pull request #14 solved this issue

[2021-03-03 23:20] #5 closed

[2021-03-03 23:49] eiman-kased opened #17 "Highlight Page on NavBar"
Have the navBar tabs be highlighted when clicked on to allow the user to know what page they are on. Bill shared the following link to help: https://stackoverflow.com/questions/13032930/how-to-get-current-php-page-name/13032941#13032941

[2021-03-08 04:33] #4 closed

[2021-03-08 04:55] eiman-kased opened #19 "Deleted useless css file"
Deleted a useless css file

[2021-03-08 05:03] #19 closed

[2021-03-16 00:50] billythakidd04 opened #21 "Standardize the NavBar"
There are too many different versions of the navbar on too many different pages.

![image](https://user-images.githubusercontent.com/888231/111352167-4bb0f900-865a-11eb-877e-ac5a813a8e3f.png)
VS
![image](https://user-images.githubusercontent.com/888231/111352202-52d80700-865a-11eb-9d9e-b7f3082f3b93.png)

These should all use the same navbar. The easiest way is to use a single file which contains t

[2021-03-16 03:27] eiman-kased opened #22 "Watermarked Photos"
Change all photos that have a watermark. Can use unsplash.com or another source. See image example (blown up for visibility)

![image](https://user-images.githubusercontent.com/888231/112063660-229bd700-8b38-11eb-9e71-9305494cfd81.png)

[2021-03-16 03:28] eiman-kased opened #23 "About.php Footer"
There are two footers saved in about.php.

[2021-03-16 03:29] eiman-kased opened #24 "Add a comment or review section."
Add a comment (textarea) box so users can leave a review.

[2021-03-16 04:20] eiman-kased opened #25 "Condense CSS files"
Currently there are three css files. Condense them to have a css file that is used across all pages.

See https://github.com/eiman-kased/starbulls/tree/master/css

[2021-03-16 04:39] eiman-kased opened #26 "'Sticky' Accordions on Menu"
Have the accordions stick right under the navbar when the content is expanded and user scrolls down. Using sticky will not work!

![image](https://user-images.githubusercontent.com/888231/111535208-4083c900-873f-11eb-984e-88f10dd16234.png)

The sublist should scroll up under the main section name.

[2021-03-16 04:41] eiman-kased opened #27 "Specials of the Week Layout"
The menu for Specials of the Week needs to be revamped; can explore bootstrap accordions or an entirely new layout.

[2021-03-16 04:47] eiman-kased opened #28 "Load Function for Reviews"
Create a load function for the reviews creating a dynamic webpage.

[2021-03-16 04:52] eiman-kased opened #29 "Update: Create the Social Media Icons in the Footer"
The social media logo is in the way of some of the site's content (blocks sides on the menu, etc).

[2021-03-16 04:54] eiman-kased opened #30 "Menu Dropdown in NavBar"
The menu dropdown doesn't actually link to anything. The menu button itself should link to menu.php and the individual item should like as follows:

Speciality Coffee should link to `id="coffee"`
Regular Coffee should link to `id="regularCoffee"`
Breakfast Singles should link to `id="breakfastSingles"`
Breakfast Combos should link to `id="breakfastCombos"`
Traditional Wings - $13.99/10p | $21.99/2

[2021-03-16 05:20] eiman-kased opened #31 "Proofread Site's Content"
Proofread to make sure the content makes sense, look for grammar and spelling errors.

[2021-03-16 05:22] eiman-kased opened #32 "Spaces vs Tabs"
In VsCode, Convert spaces to Tabs..tab size:4.

[2021-03-16 17:18] billythakidd04 opened #33 "Main page should load at base url"
Right now when I navigate to the starbull url I see the following:

![image](https://user-images.githubusercontent.com/888231/111351404-85cdcb00-8659-11eb-9742-915984c79fcc.png)

I should see the main page. Rename home.php to index.php. For more information as to why, see

https://support.tigertech.net/index-file-names
and
the more technical reasoning
https://cwiki.apache.org/confluence/display/HT

[2021-03-16 17:24] billythakidd04 opened #34 "Footer contents alignment"
The contents of the footer should be vertically aligned either in the center or bottom.
Screenshot from menu page shows the issue the best.
![image](https://user-images.githubusercontent.com/888231/111352772-ee697780-865a-11eb-9b9e-c55e655ab48e.png)
There is little logical space between the page and footer contents.

[2021-03-16 17:26] billythakidd04 opened #35 "Standardize footer"
![image](https://user-images.githubusercontent.com/888231/111352970-2f618c00-865b-11eb-9419-741164f88c19.png)

Lets use one footer file so things like this don't happen. As funny as the message is...

[2021-03-16 17:30] eiman-kased commented on #35
This should close ticket #23 as well.

[2021-03-16 17:32] billythakidd04 opened #37 "Standardize Site styling"
Every page is using different styles and looks completely different from the other. We can solve this by dynamically loading content into a main container or just by getting all the different pages styled the same. Either way is fine as long as the site looks more cohesive
home:
![image](https://user-images.githubusercontent.com/888231/111353662-e52cda80-865b-11eb-9afe-8c8f5e99503a.png)
apply:
![i

[2021-03-16 17:34] billythakidd04 opened #38 "Notifications/Reviews"
Lets build out some kind of thing that can generate reviews or notifications of specials or something.

- [x] Design and build a db that would house the relevant info #45
- [x] Design and build an api that allows the retrieval and delivery of that info #63
- [x] Design the front end implementation of that information to display #67

**Note:** this will be a parent ticket for the smaller sections t

[2021-03-16 17:39] #33 closed

[2021-03-17 20:24] nburd90 opened #39 "Remove whitespace in code on about.php"
- Format divs and other code.
- Delete extraneous/commmented out/unused code if needed.

[2021-03-17 20:29] billythakidd04 commented on #22
**All** photos need to be replaced.

[2021-03-17 20:31] billythakidd04 commented on #23
This ticket was duplicated by #35 with more info. Closing this one in preference of that.

[2021-03-17 20:31] #23 closed

[2021-03-17 20:42] billythakidd04 commented on #28
Goals:

1. Design review form
2. Design db based on form info
2. Build db
3. design api
4. build api endpoints

[2021-03-17 20:45] billythakidd04 commented on #38
tangentially related to #28

[2021-03-17 20:47] billythakidd04 commented on #35
related to #21 and can be done on the same branch

[2021-03-17 20:51] billythakidd04 commented on #34
related to #35

[2021-03-17 21:02] billythakidd04 commented on #30
The respective accordion items just need to have the correct id added to them based on the links. Also the menu dropdown needs to have the rest of the options added.

[2021-03-17 21:03] billythakidd04 commented on #29
We could also use some maybe drop shadows or something. We need a more concrete idea of what to do before anyone starts working on this.

[2021-03-17 21:15] billythakidd04 opened #41 "Design and Build the Customer Review Form PARENT"
@eiman-kased build out the php form to accept data from user #48
@margeschrec build out the visual form that the user will see, make sure you're working in line with Eiman #43
@nburd90 you're going to build the functionality to ingest the data and save to the db. #44

Blocks #28

[2021-03-17 21:16] billythakidd04 opened #42 "Build User Review PHP form"
@eiman-kased comment on here with the fields and design for the php form to be used

Blocks #41

[2021-03-17 21:18] billythakidd04 opened #43 "Build out the html and css for the review form"
@margeschrec  work with @eiman-kased to have the correct html names and design for the form

Blocks #41
Blocked by #42

[2021-03-17 21:20] billythakidd04 opened #44 "Build out db access and retrieval of data for review form"
@nburd90 build out the functionality to save and retrieve the data to the db.

Blocks #41

[2021-03-17 21:25] billythakidd04 opened #45 "Customer Review DB Design"
starbulls:
- review_table:
  - score - float
  - username - string - nullable
  - comment - text
  - datetime - datetime
  - email - string - nullable
  - phone - string - nullable

@nburd90 heres the db design to get started

[2021-03-17 21:25] billythakidd04 commented on #45
related to #41

[2021-03-18 21:28] #32 closed

[2021-03-18 21:49] #45 closed

[2021-03-18 23:40] billythakidd04 commented on #26
Closed by #46

[2021-03-18 23:40] #26 closed

[2021-03-19 03:32] #27 closed

[2021-03-19 16:45] margeschrec commented on #29
![instaIcon](https://user-images.githubusercontent.com/78566744/111814144-82804c80-88b0-11eb-999a-01a6feb9deac.jpg)
 what do we think of keeping it as a fixed bar at the bottom of the page
 (like it looks now).
 Making the buttons larger, see the example above, and having a drop shadow?
-that way we keep the readability of the white even while overlapped on white backgrounds.

[2021-03-19 18:51] ghost commented on #39
pr #50

[2021-03-19 19:37] billythakidd04 commented on #21
@eiman-kased & @gc824 Checking on the progress of this.

[2021-03-19 19:44] billythakidd04 commented on #9
@CharleswithLove I think this is being blocked by #21 so once @gc824 closes that we can move on with this.

[2021-03-19 19:47] eiman-kased commented on #21
I sent Gagan an email asking for an update on this project. He is waiting on Becca to complete and condense the CSS; although the CSS has nothing to do with the navBar being completed. I advised him to cut the navBar from the menu page into a separate file and then linking it to all the starbull pages.
Gagan did say that his part is done though.

[2021-03-19 19:51] billythakidd04 commented on #21
Ok, got it. Yea the css should not hinder this ticket. They are unrelated. @gc824 did mention to me he needed some help linking the navbar across all files. This can be completed with

[code]
Assuming `navBar.php` is the templated filename.

[2021-03-19 19:52] billythakidd04 commented on #21
this is blocking #9 also.

[2021-03-19 20:06] margeschrec commented on #29
https://www.awesomescreenshot.com/image/6727986?key=59b8e09f41c10c89e0b3050e4ba75e81

Here is a working example of what I was thinking of. I want to work on a fade effect for the shadow, and work on placing a little higher on the page.

[2021-03-19 20:14] CharleswithLove commented on #9
Understood . sorry for the late reply I had my  little man . will you be in lab tomorrow?

[2021-03-19 20:29] eiman-kased commented on #29
After speaking with Margaret and Becca, we found it best to put the social media logos in a footer tag.

[2021-03-19 20:46] ghost commented on #39
pull request #50 solves this issue.

[2021-03-19 20:46] #39 closed

[2021-03-19 21:28] margeschrec commented on #29
https://www.awesomescreenshot.com/image/6728870?key=ad339e411c5fbd9883e1316ee44e347d

potential solution, new nav bar, with space for map link and API inputs. I nested the social image buttons in the bottom left.
This on the about page. the about page is linked to the new footer page, and the main.css page. There are conflicts with other the other css pages that still need to be condensed. New css

[2021-03-19 22:00] billythakidd04 commented on #9
Yes noon start for zoom, 4pm ish for Washington Sq

[2021-03-20 01:16] #44 closed

[2021-03-20 16:12] rbaia28 commented on #25
@vricci518 Hi! As our resident master of design, I was wondering if you would be able to offer your expert insight on what I could do with Starbulls to make it as beautiful and cohesive as possible? If you have too much on your plate right now, totally understandable, but if you have any available time to connect I would love to collab and learn more about design and applying those theories throug

[2021-03-20 17:42] billythakidd04 commented on #35
After some further discussion and review this will be handled separately by #58

[2021-03-20 20:07] WaymonBrown84 commented on #30
Holding off until #57 is merged.

[2021-03-20 22:56] billythakidd04 opened #60 "after a new user is created successfully, redirect to the home page"
after a new user is created successfully, I see the new user success message, could we also have it redirect to the home page?

_Originally posted by @margeschrec in https://github.com/eiman-kased/starbulls/pull/48#issuecomment-803462255_

read [this article](https://www.bluehost.com/help/article/php-redirect) for help

[2021-03-20 23:50] #21 closed

[2021-03-20 23:51] #35 closed

[2021-03-21 01:20] billythakidd04 commented on #28
Closing in preference to #38

[2021-03-21 01:20] #28 closed

[2021-03-21 14:58] billythakidd04 opened #62 "Fix password functionality - remove plain text pw"
We need to not store the password in plain text.

See the following resources:

https://softwareengineering.stackexchange.com/a/73042/75321

https://dev.to/anastasionico/good-practices-php-security-how-to-manage-password-18bm

https://crackstation.net/hashing-security.htm

[2021-03-21 15:00] billythakidd04 commented on #9
Closed by #57

[2021-03-21 15:00] #9 closed

[2021-03-21 15:02] billythakidd04 commented on #17
#57 is now closed, this can be continued. Should be done by this evening.

[2021-03-21 15:12] billythakidd04 commented on #30
#57 is complete, this can move forward. @eiman-kased please add to the description where the menu items should link.

[2021-03-21 15:13] billythakidd04 commented on #31
But don't kill the funny or the flavor. It's supposed to be a little silly.

[2021-03-21 15:18] billythakidd04 commented on #34
Now that #35 is complete, the menu still looks nuts. This _might_ be helped by #25 but still worth noting.

![image](https://user-images.githubusercontent.com/888231/111910276-1b40d480-8a37-11eb-8b50-c216ccaba94b.png)

[2021-03-21 15:20] billythakidd04 commented on #37
@vricci518 I think #61 should be merged before we complete this one (and subsequently #53) . New issues will arise and some bugs as well. Not to mention the conflict issues.

[2021-03-21 15:21] billythakidd04 commented on #25
Blocking #37

[2021-03-21 15:27] billythakidd04 opened #63 "User and Review API"
@billythakidd04 will list the individual routes for each. This is a basic CRUD api. This ticket is just creating the api routes and controllers. It DOES NOT include security or authorization stuff

[2021-03-21 15:31] billythakidd04 commented on #43
@margeschrec once #48 is merged this needs to be your top priority. Also #60 can be worked into this if you so choose.

[2021-03-21 15:33] billythakidd04 commented on #60
related to #60, #43

[2021-03-21 19:20] vricci518 opened #64 "Menu Dropdown not functioning in NavBar"
When you select one of the items from the Menu dropdown it does not take you to the Menu page.

The URL is showing http://localhost:8888/starbulls/index.php#cafe so it stays on the page you are on rather than going to the Menu page.

<img width="821" alt="Screen Shot 2021-03-21 at 3 19 43 PM" src="https://user-images.githubusercontent.com/78501210/111917932-e04f9880-8a58-11eb-92ec-0eeb8c3459c6.png

[2021-03-21 19:26] #29 closed

[2021-03-21 19:35] #64 closed

[2021-03-21 19:36] billythakidd04 commented on #64
Duplicates #30

[2021-03-21 19:37] #42 closed

[2021-03-22 00:15] billythakidd04 opened #65 "Horizontal scroll on home"
https://www.awesomescreenshot.com/video/3133811?key=16b880e8f5c08b1746bb885135c245e8

The following line of css is causing a strange issue on the homepage. If that class is removed the scroll bar is gone and the page looks as it should. In the video you can see me turning it on and off.

[code]

Enabled with scroll bar
![Screenshot from 2021-03-21 20-12-12](https://user-images.githubusercontent.co

[2021-03-22 00:16] billythakidd04 commented on #65
@eiman-kased I assigned you, can you re-assign to the best person for this.

[2021-03-22 00:23] billythakidd04 opened #66 "Home Page design improvements"
![image](https://user-images.githubusercontent.com/888231/111926307-ba3eee00-8a82-11eb-9fc4-e60e182b128a.png)

The homepage is the first thing most users will see. Right now it's a little disjointed without much purpose. Let's see if we can make it attractive and useful for the user. We are already adding a section that displays rotating comments per #38 maybe some kind of fake menu image? Use the

[2021-03-22 00:33] billythakidd04 commented on #60
Re-assigning to @CharleswithLove since he has nothing atm and @margeschrec has 3

[2021-03-22 00:43] billythakidd04 commented on #63
## User routes
- [x] /user/{userID} - lists a users info including their reviews - 127557d634825a28f579d69360cabf7d1b39010c
- [x] /user/new - create a new user (in progress) @billythakidd04
- [x] /user/edit/{userID} - changes info for a user that already exists @nburd90
- [x] /user/remove{userID} - this "deletes" a user by marking them archived @nburd90
- [x] /users/{sort/search values} - this sho

[2021-03-22 00:44] billythakidd04 commented on #63
We will be using [PostMan](https://www.postman.com/) to build out the apis first. Once the general working idea is complete we will build the php backend side.

[2021-03-22 00:51] billythakidd04 opened #67 "Add reviews to appropriate page"
Once a user adds their information and creates a review we should display those reviews. Before we worry about _which_ reviews to display lets create the layout to display **any** reviews.

Please add comments to this as to where you thing the reviews should show and how they should look.

[2021-03-22 01:39] gc824 commented on #67
Here are few options where we can add review page.

- Embed a carousel with the best reviews on top of our landing/homepage page.
- List some of the best reviews in the sidebar on About Us page.
- We can add them to our Menu page either sidebar or carousel.
- Or Create a standalone Review or Gallery page all the reviews.

[2021-03-22 01:43] billythakidd04 commented on #67
I like these options:

Not sure this should go on "top" ,maybe further down a bit.

I think we should definitely do this regardless of any other chosen options

Possibly, if we have time, that might be a good idea. At least with this page they could search through and sort the reviews...

Great input @gc824!

[2021-03-22 03:34] ghost commented on #67
I think that the reviews can also possibly have a rating system, like how people can give someone stars. Maybe under that, they can comment their opinions on it. We would store the data sort of like a form.

[2021-03-22 03:39] billythakidd04 commented on #67
I'm not following... Do you mean like comment threads?

[2021-03-22 14:29] eiman-kased commented on #30
I personally do not feel that a dropdown menu is needed anymore since we have incorporated the accordions to the menu. If everyone agrees, then we can move forward with removing the dropdown.

[2021-03-22 14:45] eiman-kased commented on #65
@vricci518 I will be assigning this to you. CSS is your forte!

[2021-03-22 15:25] billythakidd04 commented on #30
I like the dropdown... nothing wrong with taking them to the exact section.

[2021-03-22 17:20] ghost commented on #67
maybe some people may not wanna write a full on review and would prefer pressing a button/checkbox, ive seen it in some websites so its just a thought (ex: uber eats, asking if you enjoyed your order by giving a thumbs up or thumbs down)

[2021-03-22 18:32] eiman-kased commented on #30
id="coffee" should link to Speciality Coffee (as such: <li><a class="dropdown-item" href="#coffee">Speciality Coffee</a></li> )
id="regularCoffee" should link to Regular Coffee
id="breakfastSingles" should link to Breakfast Singles
id="breakfastCombos" should link to Breakfast Combos
id="traditionalWings" should link to Traditional Wings - $13.99/10p | $21.99/21p
id="specialityWings" should link t

[2021-03-22 19:13] billythakidd04 commented on #67
Interesting... Find some screenshots @williamrockowl, we can discuss as a group.

[2021-03-22 19:19] billythakidd04 commented on #30
sorry @eiman-kased can you move that into the primary description on the ticket? Not just as a comment

[2021-03-22 20:17] #25 closed

[2021-03-22 21:37] margeschrec commented on #67
good ideas, I like the carousel option, we can have them automatically scroll, I agree that it would be nice on our landing page, but not at the top, below some pictures of the food makes sense to me. Having another page that is a part of the navbar drop down somewhere that has press/ reviews is another good option.

[2021-03-22 21:41] billythakidd04 commented on #34
Hold off on this untill #61 and #53 are completed

[2021-03-22 23:11] eiman-kased commented on #67
I, too, like the carousel option on the landing page. As Margaret mentioned, it would be nice under some pictures. We have that connect with us/enjoy a variety of food block, maybe the reviews can go below that.

![image](https://user-images.githubusercontent.com/888231/112070772-c5f2e900-8b44-11eb-8a6b-684f61aaa394.png)

[2021-03-23 00:12] gc824 commented on #66
Meeting mins 03/22:

- We will create carousel with at least 5 images on the landing page.
- Hours of operations it will be converted to Horizontal view.
- We will regroup on 03/23.

[2021-03-23 00:15] billythakidd04 commented on #66
Where does #67 come into play if at all? Image styling, color updates, wording, a carousel and the Hours update will be nice but even the text on that page is messed up.

[2021-03-23 00:24] vricci518 commented on #66
The scrolling reviews suggested by Margaret would appear below the picture carousel.
The text issues should be resolved/improved on by the styling revisions from #53

[2021-03-23 00:58] billythakidd04 commented on #66
Ok i can revisit the overall issues once everything is merged

[2021-03-23 15:45] #65 closed

[2021-03-23 20:28] billythakidd04 commented on #30
@WaymonBrown84 any update on this?

[2021-03-23 20:51] #37 closed

[2021-03-24 01:40] gc824 commented on #60
Just looking for some clarification. We want to redirect the user to home/Landing page once they submit their review? @billythakidd04

![image](https://user-images.githubusercontent.com/60706674/112241268-4d615a80-8c20-11eb-95f1-06a7d2189aa5.png)

[2021-03-24 01:46] billythakidd04 commented on #60
@gc824 only after the review is _successfully_ created.

[2021-03-24 14:05] #22 closed

[2021-03-24 14:45] billythakidd04 commented on #30
@WaymonBrown84 still waiting for an update...

[2021-03-24 14:52] billythakidd04 opened #71 "About Us Page overhaul- UPDATE with tasks"
- [x] @margeschrec move image from the bottom of the page to the top, and format Company info/ Our heritage underneath

- [x] @eiman-kased build out cards in a bootstrap card format, three cards per row, three rows #83

- [x] @rbaia28 populate cards with classmates info- gather small bios and links to individual project repos.  #82 #83

Blocked by #83 #82

[2021-03-24 15:04] billythakidd04 opened #72 "Properly Implement Classes"
Right now we are doing the following:

[code]
We need to refactor these to properly use the classes required rather than the whole file.

Update those lines and others like them to be:

[code]

This tells the application to link the needed classes to the file and associates some additional linting and autocomplete. It also means if there is are multiple classes in a file, we don't bog things down

[2021-03-24 15:18] billythakidd04 commented on #62
@eiman-kased any progress on this?

[2021-03-24 18:06] margeschrec commented on #71
What does everyone think of moving the image at the bottom to the top,?  Also moving some of the blocks of text into divs with similar coloring to how the reviews are broken up in the about page?

![image](https://user-images.githubusercontent.com/78566744/112361339-a6c19c00-8ca9-11eb-813c-4853b85306d8.png)

Also divide up the text so Our Heritage is a row, then maybe three bootstrap cards below i

[2021-03-24 18:27] billythakidd04 commented on #71
@margeschrec sounds like you have some solid ideas. Want to run point?

[2021-03-24 18:48] margeschrec commented on #71
Sure!

[2021-03-24 18:59] billythakidd04 commented on #71
cool all yours

[2021-03-24 19:01] rbaia28 commented on #71
@margeschrec how do you feel about us also including a lil mini bio about each of us (coffee and wing puns can be potentially included here)  with links out to our individual projects on the About Us page? We could replace the tools we used section with "Meet the Team." Or we can move it onto a separate page! Lemme know your thoughts!

[2021-03-24 19:03] billythakidd04 commented on #71
I think thats a great idea and perfect place for it. annnnd in scope too... nicely done.

[2021-03-24 20:00] margeschrec commented on #71
that is an amazing idea! I love that! lets put it in the page first and if it seems like it should go on another page, that is an easy thing to build out.

[2021-03-24 20:48] #31 closed

[2021-03-24 22:15] billythakidd04 commented on #66
@vricci518 is updating ticket with some prototype info

[2021-03-24 22:20] vricci518 commented on #66
A 5 image carousel will be created highlighting specials and standard menu items. Images have been selected and sized. The code needs to be built for carousel.
Hours of operation needs to be reformatted to a horizontal layout.
Reviews panel from #67 will appear below the carousel.

[2021-03-24 22:42] vricci518 opened #75 "Logo Revision"
The revised logo does not incorporate the company name.
With the removal of the h1 header, StarBulls from the page header there is no company branding with the logo.
Incorporate the StarBulls name with the glyph graphic.
Add a company tagline of Coffee, Wings & More.

[2021-03-25 01:43] margeschrec commented on #71
ok- I am thinking to break this up into more manageable pieces we have these tasks-

-move image from the bottom of the page to the top, and format Company info/ Our heritage underneath
-build out cards in a bootstrap card format, three cards per row, three rows (if my math is correct)
-populate cards with classmates info- gather small bios and links to individual project repos. (@billythakidd04 c

[2021-03-25 02:06] billythakidd04 commented on #72
We're not getting into namespacing so this is out of the realm of this class for now.

[2021-03-25 02:06] #72 closed

[2021-03-25 02:14] billythakidd04 opened #77 "Create proper Database class"
We need to convert the `db_connect` file to be a proper class. This should just be a basic reorganization of the file and then including it correctly where ever it is used.

make function vars class level
make ctor
basically turn this into a proper functioning class
possibly extend `mysqli` if reasonable

[2021-03-25 02:19] billythakidd04 commented on #71
@margeschrec I think that's a great idea. Update the description on this ticket with the task list or create individual tickets for each, up to you. As for the bio ticket, 100% the right way to go. Make it and set it to blocking this one and mark this one blocked by that.

[2021-03-25 04:16] billythakidd04 opened #80 "Open accordion on link"
Related to #30

When a user clicks the menu link for a specific section that relevant accordion section should open automatically.

[This link](https://stackoverflow.com/a/29325170/553473) should get you most of the way there.

[2021-03-25 04:30] billythakidd04 opened #81 "Add created date for user"
It would be nice to track when users sign up.
Add a created date field to the user table

[2021-03-25 04:49] gc824 commented on #81
Before I make any changes we are looking to add date field to the user table in our _database?_ @billythakidd04 @eiman-kased

![image](https://user-images.githubusercontent.com/60706674/112420677-ff258780-8d03-11eb-8287-d78d255359c5.png)

[2021-03-25 04:55] billythakidd04 commented on #81
Yes and update the sql file to reflect that change

[2021-03-25 05:16] gc824 commented on #81
does this look right?

![image](https://user-images.githubusercontent.com/60706674/112422710-b079ec80-8d07-11eb-87b7-9ee82bdc1054.png)

[2021-03-25 15:05] margeschrec opened #82 "Bios needed from everyone for About Us page"
We are installing a "meet the team" section to our about us page. Please comment on this issue ticket a short bio and a link to your repository so it can get added to the about us page, and we can complete ticket #71

I wanna add it was @rbaia28 great idea, and in her words "a lil mini bio about each of us (coffee and wing puns can be potentially included here) with links out to our individual pro

[2021-03-25 15:13] margeschrec commented on #71
Final call @rbaia28 @eiman-kased @WaymonBrown84 as to who does what/ preferences. If I don't hear back from anyone by 2pm I will go ahead and start on the first task, push it up as a draft, and we can go from there.

- [ ] -move image from the bottom of the page to the top, and format Company info/ Our heritage underneath

- [ ] -build out cards in a bootstrap card format, three cards per row, thr

[2021-03-25 15:22] eiman-kased commented on #71
@margeschrec @rbaia28 @WaymonBrown84 I will take the bootstrap card format so the second task listed.

[2021-03-25 15:37] billythakidd04 commented on #81
No, 2 things. 1 'date' is too ambiguous. What's it for? Why is it important? Second, it should be camelCase, following suit of the previous fields.

[2021-03-25 16:19] eiman-kased commented on #82
Hello! My name is Eiman Kased. I am a busy mother of two awesome boys! I do it all! From whipping up coffee inspired wing sauce in the kitchen to coding sites in my at-home office! Take a look at my Git Repository. Let me know if you would like to contribute to my project!
GitHub Repo: https://github.com/eiman-kased/ecc

[2021-03-25 16:30] rbaia28 commented on #71
i can take populate cards with info!

[2021-03-25 16:36] margeschrec commented on #71
ok

ok @WaymonBrown84 I took you off cause it looks like all the work is divided up, @rbaia28 @eiman-kased I will get started on this with the top image. and make a child ticket for the cards.

[2021-03-25 16:39] margeschrec opened #83 "About Us Card Build-Out"
- [x] @eiman-kased Build out Bootstrap card layout
- [x] @rbaia28 Fill out info for cards Blocked by #81

child and blocking #71

[2021-03-25 18:27] billythakidd04 commented on #71
@margeschrec I would recommend adding the task list to the main description and appending each task with the responsible party and ticket number if applicable.

[2021-03-25 18:29] margeschrec commented on #71
gotcha, how do I access the main description? Do you mean the title/ heading?

[2021-03-25 18:32] #17 closed

[2021-03-25 18:43] billythakidd04 commented on #71
![image](https://user-images.githubusercontent.com/888231/112526521-6a10a600-8d78-11eb-9f6b-089f6bb4cc8e.png)

[2021-03-25 18:58] vricci518 commented on #66
Home Page Wireframe
![StarBulls_Home_Wireframe](https://user-images.githubusercontent.com/78501210/112528411-7f86cf80-8d7a-11eb-8e95-bb41ab86b35a.jpg)

[2021-03-25 20:54] eiman-kased opened #86 "Consolidate Images Folders and Fix Pathways"
Currently there is an Images and Imgs folder. Only one is needed.
Go through the files and fix the pathways for the images.

[2021-03-25 21:01] #62 closed

[2021-03-25 21:15] #77 closed

[2021-03-25 21:44] vricci518 commented on #66
Revised Home Page Wireframe to include review form and reviews carousel.

![StarBulls_Home_Wireframe](https://user-images.githubusercontent.com/78501210/112547886-c3390380-8d91-11eb-8639-6cf1303569ee.jpg)

[2021-03-25 21:48] williamrockowl opened #87 "Indicator doesn't indicate correct menu tab"
Opposed to highlighting the menu on the navbar, it highlights the 'full menu' dropdown option.

[2021-03-25 21:49] ghost commented on #87
On the 30-menu-drop-down branch.

[2021-03-25 22:45] rbaia28 commented on #86
should we change images to logo?

[2021-03-25 22:46] #30 closed

[2021-03-25 23:22] eiman-kased opened #89 "Move $hash into user class"
https://github.com/eiman-kased/starbulls/blob/2738a56eaf2354fddea351b39fa401a2c7e93f81/forms/user.form.php#L94
Need to move the password hash functionality into the User class.

[2021-03-25 23:23] #81 closed

[2021-03-25 23:45] #43 closed

[2021-03-26 15:48] gc824 commented on #82
Open to feedback and suggestions.

“Talent wins games, but teamwork and intelligence win championships.” This
team did not come together by choice, but our destiny brought us to
Starbulls. It was a great privilege and honor to work on this site.

Starbulls is the place to be, when you are in town make sure to try our
Wingin’ it Wednesday. It is all you can eat buffet style WINGS! with a
variety of

[2021-03-26 16:26] margeschrec opened #95 "Fix Horizontal scroll on index.php"
Horizontal scroll is back on the index.php screen (home page). Need to fix margin on a div somewhere...

@billythakidd04 @eiman-kased, I figure I will tackle this again since I did it the first time.

[2021-03-26 19:13] vricci518 commented on #82
Hi there, I'm Vince and I'm a self-proclaimed "Coffee Achiever of America!" My background is in graphic design. I like my coffee smooth and my wings spicy! If you call them "Buffalo Wings" or ask for a side of Ranch, you'll be on the receiving end of one of my world famous disparaging looks. My motto is: "It shouldn't just taste good, it should also look good!" Head on over to my GitHub Repo and t

[2021-03-26 19:37] ghost commented on #82
Hey! My name's William and I'm an aspiring Full Stack Developer. If i'm not programming and trying to find that extra semicolon that's broken my project, you can find me at Starbulls eating 40pcs of the vanilla wings. I also like long walks on the beach. Here's my Github repository and the projects i've worked on: https://github.com/williamrockowl/webdevcourse

[2021-03-26 19:44] #89 closed

[2021-03-26 19:45] #86 closed

[2021-03-27 00:35] #95 closed

[2021-03-27 00:37] #60 closed

[2021-03-27 03:05] ghost commented on #87
Closed by PR #91

[2021-03-27 15:27] billythakidd04 commented on #87
![image](https://user-images.githubusercontent.com/888231/112725544-2db38600-8eef-11eb-91bf-17444d86dc69.png)

Seems this still doesn't work. Rather than the overly complicated way we did it. Look into [jQuery's `find()`](https://api.jquery.com/find/) function.

[2021-03-27 16:45] billythakidd04 commented on #34
I think this is caused by i few different issues. I will update this in a bit with my thoughts.

[2021-03-27 16:48] billythakidd04 opened #98 "HTML Cleanup and page wrapper"
None of the pages have an overall content wrapper that would enclose header all the way to footer. I think this is part of the issue with #34. We aren't really able to set a max size of things because everything is so siloed and independent.

https://www.freecodecamp.org/news/how-to-keep-your-footer-where-it-belongs-59c6aa05c59c/ gives a decent explaination of the usefulness of this concept.

http

[2021-03-27 18:32] margeschrec opened #100 "Signup page bg image warps with screen size"
The bg image on the signup page warps with screen size changes.

![image](https://user-images.githubusercontent.com/78566744/112730635-079adf80-8f09-11eb-998a-6d161858e645.png)

![image](https://user-images.githubusercontent.com/78566744/112730650-28fbcb80-8f09-11eb-90be-ca6b0e6c2796.png)

[2021-03-27 18:49] billythakidd04 commented on #34
There are bigger issues at play here, namely #98, so I am closing this until those other problems are fixed. This is a minor issue anyway.

[2021-03-27 18:49] #34 closed

[2021-03-29 17:33] billythakidd04 commented on #75
I just want to be clear this should not replace the basic company icon but should be a more involved logo with name. In updating the current logo, adding the nameless icon as a favicon would be a good step.

[2021-03-29 17:40] billythakidd04 commented on #41
@margeschrec @nburd90 @eiman-kased update?

[2021-03-29 17:44] billythakidd04 commented on #67
@eiman-kased update?

[2021-03-29 17:45] billythakidd04 commented on #71
@eiman-kased @rbaia28 update?

[2021-03-29 17:46] billythakidd04 commented on #80
@eiman-kased update?

[2021-03-29 17:47] billythakidd04 commented on #83
@eiman-kased @rbaia28 update?

[2021-03-29 17:48] billythakidd04 commented on #87
@williamrockowl update?

[2021-03-29 19:14] nburd90 commented on #41
Haven't looked at this issue ticket much of late. Willing to meet/talk about what needs to be done with this moving forward.

[2021-03-29 19:17] billythakidd04 commented on #41
uhhhh @nburd90 is the part you're assigned complete??

[2021-03-29 19:25] nburd90 commented on #41
As far as I can tell - just covering my bases in case I missed something.

[2021-03-29 19:39] eiman-kased commented on #83
@billythakidd04 My part is completed and merged. Becca is currently populating the cards with the bios.

[2021-03-29 19:41] eiman-kased commented on #67
@billythakidd04 This should be completed and pushed up tonight/tomorrow. I will be using bootstrap to create the carousel and put it in a column so the review form can be next to it.

[2021-03-29 19:42] eiman-kased commented on #80
@billythakidd04 Know or have an idea of the fix. Haven't attempted yet but it will be pushed by next class.

[2021-03-29 19:47] rbaia28 commented on #83
submitted!

[2021-03-29 19:57] eiman-kased commented on #41
This is completed.

[2021-03-29 19:57] #41 closed

[2021-03-29 22:02] #75 closed

[2021-03-29 22:09] #83 closed

[2021-03-29 22:09] #82 closed

[2021-03-29 22:10] #71 closed

[2021-04-01 19:54] #98 closed

[2021-04-02 16:09] billythakidd04 commented on #63
@margeschrec @rbaia28 @nburd90 who is taking which routes on this?

[2021-04-02 18:15] margeschrec commented on #63
looks like there are eight left after what Vincent and I did yesterday in class. I can take the first three of the review apis aka

 /review/show/{reviewID} - displays the info about a specific review not just the review contents
 /review/new - create a new review either from a user or anonymously
 /review/edit{/{reviewID} - updated a review - we should put restrictions on this in the next iterati

[2021-04-03 04:20] billythakidd04 commented on #63
@rbaia28 requested to be excused from this due to work related issues. I will take whatever is left after @nburd90 claims his.

[2021-04-04 05:35] billythakidd04 commented on #63
After wayyy more reading than I wanted to do, I've learned a few things. [mysqli::fetch_object()](http://phpweb.hostnet.com.br/manual/de/mysqli-result.fetch-object.php) is pretty buggy. It's also [MUCH slower](http://www.spearheadsoftwares.com/tutorials/php-performance-benchmarking/50-mysql-fetch-assoc-vs-mysql-fetch-array-vs-mysql-fetch-object). So [mysqli::fetch_assoc()](http://phpweb.hostnet.co

[2021-04-04 20:59] margeschrec commented on #63
I'm running into roadblocks on the third api -update an existing review, I will create a pull request and place it in draft mode, @billythakidd04 does that sound good?

[2021-04-05 17:31] #100 closed

[2021-04-05 19:36] #66 closed

[2021-04-06 00:55] billythakidd04 opened #106 "FIRE: Homepage is broken!"
![image](https://user-images.githubusercontent.com/888231/113643702-e21c7d00-9650-11eb-8b46-bc915aadd035.png)

I assume this is from the changes meant for #66 but i think some wires got crossed. We are missing a lot of the home page and what is there is pretty messed up.

We need to clean this up asap. I would consider this top priority. Over all else. Without a decent home page. the rest of the s

[2021-04-06 16:33] nburd90 commented on #106
@billythakidd04 I am not seeing the page turn out like this. It shows up fine in my browser, but I did have a thought.

Different people could have their browser zoomed in or out, depending on their preference, and this could lead to discrepancy as to where people are seeing the text show up on the images and carousels.

[2021-04-06 17:12] vricci518 commented on #106
This is definitely a monitor issue. When viewing the home page on my laptop, I'm seeing the Hero text and Carousel Captions.
![image](https://user-images.githubusercontent.com/78501210/113750210-80075a80-96d8-11eb-9855-5e470d181b3d.png)
Viewing the home page on my external monitor at full screen shows the texts falling off the image or partially obstructed.
![image](https://user-images.githubuserc

[2021-04-06 17:22] billythakidd04 commented on #106
I'll continue testing under different settings also.

[2021-04-06 17:52] margeschrec commented on #106
I went ahead and testing some CSS adjustments out targeting the image and carousel inner classes to keep the text inside. I moved the hours of operations onto another row in-between the two carousels to help readability on smaller screens, just a proposal. Maybe in a future ticket we can have the hours of operations exist in the top carousel on large screens, and below on its own row for small scr

[2021-04-09 00:05] #63 closed

[2021-04-10 00:09] margeschrec opened #110 "Change review form to transition into new user form with JS"
Using JS to replace the review form with the signup form when creating a new user, removing the need for a separate signup page.

Both forms will be displayed on index.php

- interrupt form submission w/JavaScript
- AJAX call to API to see if the user exists
- replace review form in div to user sign-up form

[2021-04-10 16:42] billythakidd04 opened #111 "Improve the look of the review section on the homepage"
We need to display each of the reviews in a more stylized way that breaks each review into a separate container of sorts.

![image](https://user-images.githubusercontent.com/888231/114277618-dab2f600-99f9-11eb-8498-b65c9ae88d09.png)

[2021-04-10 16:43] billythakidd04 commented on #67
![image](https://user-images.githubusercontent.com/888231/114277703-4dbc6c80-99fa-11eb-9cc9-15decc9d51f3.png)

fixed by #108

[2021-04-10 16:43] #67 closed

[2021-04-10 16:45] billythakidd04 commented on #38
closed by #108

[2021-04-10 16:45] #38 closed

[2021-04-10 17:17] nburd90 opened #112 "Invalid format for email allowed"

[2021-04-10 17:19] billythakidd04 opened #113 "API Phone Number formatting"
1.We should be able to accept a phone number in any reasonable format
  - reasonable formats:
    - ###-###-####
    - (###)###-####
    - (###) ###-####
    - ##########
2. We should output the phone number as (###) ###-####

[2021-04-10 17:20] nburd90 opened #114 "API Name formatting"
An integer was successfully submitted in the name input.

Reasonable format:
- Should ONLY contain letters.
- Can have spaces.
- min/max of characters 5 - 30
- An empty string should not be validated.

Make regex pattern and test in regex101.

[2021-04-10 17:37] billythakidd04 opened #115 "Get all routes need a better filtering mechanism"
We need a specific and standard set of search params that are allowable. Right now it's leaving the db wide open and vulnerable. We should have specific search and sort variables that can be set in the request.
https://github.com/eiman-kased/starbulls/blob/c3468c17e3861e3e8b1f6c2bc2f72c091a4297c1/api.php#L246-L246

[2021-04-10 17:54] billythakidd04 opened #116 "Clean up comments in main.css"
The comments in css don't make a lot of sense with all the changes made recently. Some are referring to mainPage.html which no longer exists, https://github.com/eiman-kased/starbulls/blob/63118c15874c4fe49a9ef9d49152901294ecfa77/css/main.css#L120-L120

Others are just completely out of place. We should organize that file in some way that makes logical sense. Either by page or by component. https:/

[2021-04-10 18:51] nburd90 commented on #113
If doing international numbers we will have to allow for + and extra integer.

Some more examples of potentially valid formatting. Spaces allowed b/w integers?

+1(781)2054111
+ 1 ( 7 8 1 ) 2 0 5 4 1 1 1
+1 (781) 205-4111
+17812054111
+1 781 2054111
+1 781 2054111

[2021-04-11 21:16] billythakidd04 commented on #113
No spaces between integers. And for simplicity sake at this point, lets ignore internationalization. Just focus on US format to get the general idea. Applying internationalization formats would be similar process but double the work.

[2021-04-12 18:09] vricci518 commented on #111
@billythakidd04 I'm working on the styling for the customer reviews and I'm not finding the code from Wednesday that links the Customer Reviews to the StarBulls database. I've looked at all the branches and see the same code that is in the master branch which appears like this:
![image](https://user-images.githubusercontent.com/78501210/114440181-d15f9000-9b97-11eb-8730-5f7f5bc62802.png)

[2021-04-13 21:32] nburd90 commented on #114
@billythakidd04 Maybe there is a couple ways of doing this but the most obvious that comes to my mind is changing the Sql data types for the name input. Question is what would I replace VARCHAR with? I have been trying to find other data types that would exclude integers. EDIT: Seems there's a million ways on how to add/include integers but not as many that exclude - Am I attacking this from the r

[2021-04-14 22:51] billythakidd04 commented on #111
@vricci518 I _think_ you're referring to the reviewAPI.js file?

[2021-04-14 22:53] billythakidd04 commented on #114
No, you're not. You want to check the input to see if there are any integers in it and if so return an error.

[2021-04-14 22:55] billythakidd04 commented on #114
check out `preg_match()` on PHP.net

[2021-04-15 12:43] nburd90 commented on #113
$regex = '/^(?:1(?:[. -])?)?(?:\((?=\d{3}\)))?([2-9]\d{2})'
        .'(?:(?<=\(\d{3})\))? ?(?:(?<=\d{3})[.-])?([2-9]\d{2})'
        .'[. -]?(\d{4})(?: (?i:ext)\.? ?(\d{1,5}))?$/';

Found this on php.net - Can be done with preg_replace or preg_match using $matches argument. Would cover only US number formats.

[2021-04-15 17:48] billythakidd04 commented on #113
If you can explain what that does to the class, you can use it. Otherwise let's simplify it a little.

[2021-04-15 19:25] nburd90 commented on #113
Yeah definitely couldn't explain this whole thing or what is going on with all the syntax, but figured I'd post here and see if you thought there was anything useful for our purposes. I assume at the very least we would want some sort of preg_match  function to be used and then the number formats we want can either be matched/failed based on the parameters we set??

Still looking into how exactly

[2021-04-16 00:07] billythakidd04 commented on #113
so if you look into regex a little bit there is an easier way. if we disregard the 1 prefix, we can just make sure we capture `()` a group of 3 digits `\d{3}` which may or may not have some character around it `.?(\d{3}).?` followed by either a space `\s` or some other separator which may or may not be there `.?` followed by 3 more digits we need to capture `(\d{3})` maybe another separator `.?` a

[2021-04-16 01:58] billythakidd04 commented on #113
Per conversation with @nburd90, the regex for phone number should be `\(?(\d{3})[\)\s-]*(\d{3})[\s\-]?(\d{4})`

[2021-04-16 16:33] #106 closed

[2021-04-19 22:45] #111 closed

[2021-04-20 19:44] margeschrec opened #122 "Restyle the review and signup forms"
The review form and the sign up form need to be re-styled for the index page so they read well next to the review carousel.
When in mobile view we need to either have them above or below the review carousel.

- we will need to drop the forms below the review carousel on small screens
- User form needs to share the same space as review form but accounting for the larger amount of input boxes
- make

[2021-04-21 04:45] billythakidd04 commented on #122
@margeschrec I agree but we could use a screenshot and some more detail as to what exactly is wrong.

[2021-04-21 16:30] #116 closed

[2021-04-21 18:08] margeschrec commented on #122
![image](https://user-images.githubusercontent.com/78566744/115600170-61918980-a2aa-11eb-8740-63405cca20e9.png)

Restyle the sign up div so each field is easily readable and it is aligned with the review carousel

![image](https://user-images.githubusercontent.com/78566744/115600310-930a5500-a2aa-11eb-8503-e6b13efd0ae9.png)
![image](https://user-images.githubusercontent.com/78566744/115600467-bdf4

[2021-04-22 20:00] #113 closed

[2021-04-22 20:25] margeschrec commented on #112
#123 partially handles the formatting issues, special char/ integers. Still need to handle min and max length.

[2021-04-22 21:22] nburd90 commented on #114
Found this on stack overflow. Could be useful for most format instances.
`/^[a-z ,.'-]+$/i`

**Example Names**

- Mathias d'Arras
- Martin Luther King, Jr.
- Hector Sausage-Hausen

[2021-04-23 00:41] nburd90 commented on #114
@billythakidd04 working out the logic for the strlength in both first and last name. It would have to be more than just identical to 10 digits like it was for the phone number so like $userFirstName >= 1 , <= 30 (assuming this is the range we're working with.) Just not sure how exactly I put it within the function.

[2021-04-23 01:02] billythakidd04 commented on #114
https://carlalexander.ca/mastering-php-conditionals/

[2021-04-24 18:21] billythakidd04 opened #125 "Clear $_SESSION variable"
### The PHP `$_SESSION` variable is not getting cleared ever this is causing some of the following issues:

1. Alerts when the page is first loaded that seem erroneous
2. Prefilling form fields that shouldn't be
3. Trying to submit forms erroneously
4. preventing some of the functional logic from being performed accurately

#### Fix

We should 'destroy' the session once the page is closed and/or a

[2021-04-24 18:25] billythakidd04 commented on #122
@vricci518:

- add controls to the review carousel
- fix carousel ids to be unique

[2021-04-24 18:57] billythakidd04 opened #126 "DRY code: User Class"
* Move repetitive code into functions
* refactor to use the new functions properly

[2021-04-24 18:58] billythakidd04 opened #127 "DRY Code: Review Class"
* Move repetitive code into functions
* refactor to use the new functions properly

[2021-04-24 18:59] billythakidd04 opened #128 "DRY Code: reviewApi.js"
* Move repetitive code into functions
* refactor to use the new functions properly
* clean up the rest of the file by removing extraneous and/or unhelpful console logs
* document the code via comments

[2021-04-24 19:56] gc824 commented on #126
This is already in good shape.

[2021-04-24 19:56] #126 closed

[2021-04-24 20:00] gc824 commented on #127
This looks in good shape.

[2021-04-24 20:00] #127 closed

[2021-04-26 22:25] #122 closed

[2021-04-28 14:49] #110 closed

[2021-04-28 15:03] margeschrec opened #131 "Clear form after a review is submitted"
- when a user submits a review, and/or a signup form, the form does not clear. We should clear the form, then have to page reload to the top.

- when index.php reloads an alert prompts to sign up for an account- we should get rid of this cruft.
![image](https://user-images.githubusercontent.com/78566744/116426399-14189d80-a811-11eb-98e5-b2bc6601d8bb.png)

- when index.php reloads I also get a valu

[2021-04-28 17:37] eiman-kased commented on #125
@billythakidd04 @gc824 In order to notify the user that they have an existing session, we would have to first check if a session exists, right?
If so, would we check to see if a cookie exists by using $_COOKIE ["PHPSESSID"] or should we go with session_status()?

[2021-04-28 21:29] billythakidd04 commented on #125
FYI I hijacked this and retooled the requirements.

[2021-04-28 21:52] margeschrec commented on #125
How about we have the the user form hidden below the review form, that has a prompt to show if someone wants to sign up without reviewing. then it will show automatically if someone tries to submit a review who has not already signed up.
Both forms will be centered in the middle of the page.

[2021-04-29 18:48] vricci518 opened #134 "Responsive Text and Testimonial Controler"
Convert the px font sizes to responsive em sizes

Change the color of the directional controllers for the reviews carousel so they can be seen against the light green background.

[2021-04-29 21:49] #114 closed

[2021-04-29 21:49] #128 closed

[2021-04-29 22:02] #131 closed

[2021-04-29 22:15] #134 closed